{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours Login</title>

    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <h1>Login</h1>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ next }}">

        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>

        {% if err %}
        <p>{{ err }}</p>
        {% endif %}
        
        <button type="submit">Login</button>
        <a href="{% url 'register' %}">Register if you don't have an account</a>
    </form>
</body>
</html>